body {
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: #190C16;
  letter-spacing: 2px;
  line-height: 1.5;
}

::-webkit-scrollbar {
  display: none;
}

.page {
  margin-top: 100px;
}

.content-wrapper {
  padding-left: 5vw;
  padding-right: 5vw;
}