@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400&family=Yeseva+One&display=swap');

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: #190C16;
  color: #BB9BAE;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 2px;
  line-height: 1.5;
}

::-webkit-scrollbar {
  display: none;
}

.page {
  margin-top: 100px;
  background-color: #190C16;
  position: relative;
  z-index: 1;
  /* filter: drop-shadow(0 0 10px rgb(0, 0, 0, 0.25)); */
}

.page-home {
  box-shadow: 0px -10px 15px 5px black;
}

.content-wrapper {
  padding-left: 5vw;
  padding-right: 5vw;
}

/*remove arrows from input*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

@media only screen and (max-width: 650px) {
  .page {
    margin-top: 80px; /* smaller header */
  }
}

@media only screen and (max-width: 400px)  {
  .content-wrapper {
    padding-left: 2vw;
    padding-right: 2vw;
  }
}