body {
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: #190C16;
  color: #BB9BAE;
  font-family: sans-serif;
  letter-spacing: 2px;
  line-height: 1.5;
}

::-webkit-scrollbar {
  display: none;
}

.page {
  margin-top: 100px;
  background-color: #190C16;
  position: relative;
  z-index: 1;
  filter: drop-shadow(0 0 10px rgb(0, 0, 0, 0.25));
}

.content-wrapper {
  padding-left: 5vw;
  padding-right: 5vw;
}